
.formulario{

    display:flex;
    justify-content:center;
    flex-direction: column;
    }
    
    
    
    
    
        
    .input{
        width: 300px;
        height: 140px;
        font-size: 16px;
        padding: 10px;       
          
    }


    .boton1{
        width: 60px;
        background-image: linear-gradient(to right, blue, red);
        color: white;
    }