main {
    background-color: beige;
    border: solid rgb(190, 139, 139);
    padding: 300px;
    padding-top: 23px;
    

}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: brown;
    font-style: italic;
    text-align: center;
}